.page__header {
    padding: 20px 10px;
}

.page__title {
    margin: 0;
}

.page__body {
    padding: 0 10px;
}

.empty-state {
    margin-top: 20px;
    text-align: center;
    color: #dfdfdf;
}

.empty-state__icon {
    font-size: 68px;
}

.search-value {
    text-transform: capitalize;
    color: #cc4785;
}

@media only screen and (min-width: 1025px) {
    .page__header {
        padding: 20px;
    }

    .page__body {
        padding: 0 20px;
    }
}