<div class="page">
    <div class="page__header">
        <app-loader *ngIf="loading"></app-loader>
        <h2 *ngIf="!loading && movies.length > 0">
            Results found for:
            <span class="search-value">
                {{ searchValue }}
            </span>
        </h2>
    </div>
    <div class="page__body">
        <div class="empty-state" *ngIf="!loading && movies.length == 0">
            <span class="material-icons empty-state__icon">
                search_off
            </span>
            <h2>
                Sorry, no results found for
                <span class="search-value" style="display: block;">
                    {{ searchValue }}
                </span>
            </h2>
        </div>
        <app-cards [movies]="movies" [loading]="loading"></app-cards>
    </div>
    <div class="page__footer">
        <app-footer [page]="page" [totalPages]="totalPages" [loading]="loading"></app-footer>
    </div>
</div>