<div class="navbar"
    [class.navbar--sticky]="isNavbarSticky">
    <div class="row row--flex row--flex-align-center row--flex-space-between">
        <span class="material-icons navbar__icon pointer"
            (click)="sendIsOpen();">
            menu
        </span>
        <form
            class="form"
            [formGroup]="form">
            <div class="form__group">
                <span class="material-icons form__icon">
                    search
                </span>
                <input
                    type="text"
                    class="form__control"
                    placeholder="Search a movie"
                    formControlName="searchValue"
                    (keyup.enter)="goToSearch();"/>
            </div>
        </form>
    </div>
</div>
