<div class="footer">
    <div class="row row--flex row--flex-space-between">
        <div class="col col--flex col--flex-align-center pointer">
            <span class="material-icons">
                chevron_left
            </span>
            <p>
                Previous
            </p>
        </div>
        <div class="col col--flex col--flex-align-center pointer">
            <p>
                Next
            </p>
            <span class="material-icons">
                chevron_right
            </span>
        </div>
    </div>
</div>