<div class="page">
    <div class="page__body">
        <div class="person">
            <div class="person__grid">
                <div class="col">
                    <app-loader widthP="100" height="480" *ngIf="loading"></app-loader>
                    <img
                        class="person__image"
                        [src]="person | noPersonPicture"
                        [alt]="person.name"
                        *ngIf="!loading"/>
                </div>
                <div class="col">
                    <div class="row">
                        <app-loader *ngIf="loading"></app-loader>
                        <h2 class="person__name" *ngIf="!loading">
                            {{ person.name }}
                        </h2>
                    </div>
                    <div class="row"
                    *ngIf="!loading && person.birthday">
                        <div class="col">
                            <p class="text text--bold">
                                Born
                            </p>
                            <small *ngIf="person.birthday"
                            style="display: block;">
                                {{ person.birthday | date:'longDate' }}
                            </small>
                            <small *ngIf="person.place_of_birth">
                                {{ person.place_of_birth }}
                            </small>
                        </div>
                    </div>
                    <div class="row"
                    *ngIf="!loading && person.deathday">
                        <p class="text text--bold">
                            Deathday:
                        </p>
                        <small>
                            {{ person.deathday | date:'longDate'}}
                        </small>
                    </div>
                    <div class="row row--mb-10">
                        <app-loader width="100" *ngIf="loading"></app-loader>
                        <p class="text text--bold" *ngIf="!loading">
                            Biography
                        </p>
                        <app-loader height="200" widthP="100" *ngIf="loading"></app-loader>
                        <small class="person__bio"
                        *ngIf="!loading && person.biography != ''">
                            {{ person.biography }}
                        </small>
                        <small class="person__bio"
                        *ngIf="!loading && person.biography == ''">
                            No bio available
                        </small>
                    </div>
                    <div class="row row--custom"
                    *ngIf="!loading">
                        <a class="btn btn--black"
                        (click)="back();">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                            <span style="margin-left: 5px;">
                                Back
                            </span>
                        </a>
                        <a
                            *ngIf="person.homepage"
                            class="btn btn--pink"
                            target="blank"
                            [href]="person.homepage">
                            Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="person__movies">
                <app-loader *ngIf="loading"></app-loader>
                <h2 *ngIf="!loading && movies.length > 0">
                    Known for
                </h2>
                <app-cards [movies]="movies" [loading]="loading"></app-cards>
                <h2 *ngIf="!loading && movies.length == 0">
                    No movies to show
                </h2>
            </div>
        </div>
    </div>
    <div class="page__footer">
        <app-footer [page]="page" [totalPages]="totalPages" [loading]="loading"></app-footer>
    </div>
</div>