<div class="page">
    <div class="page__body">
        <div class="person">
            <div class="person__grid">
                <div class="col">
                    <img
                        class="person__image"
                        [src]="person | noPersonPicture"
                        [alt]="person.name" />
                </div>
                <div class="col">
                    <div class="row">
                        <h2 class="person__name">
                            {{ person.name }}
                        </h2>
                    </div>
                    <div class="row"
                    *ngIf="person.birthday">
                        <div class="col">
                            <p class="text text--bold">
                                Born
                            </p>
                            <small *ngIf="person.birthday"
                            style="display: block;">
                                {{ person.birthday | date:'longDate' }}
                            </small>
                            <small>
                                {{ person.place_of_birth }}
                            </small>
                        </div>
                    </div>
                    <div class="row"
                    *ngIf="person.deathday">
                        <p class="text text--bold">
                            Deathday:
                        </p>
                        <small>
                            {{ person.deathday | date:'longDate'}}
                        </small>
                    </div>
                    <div class="row row--mb-10">
                        <p class="text text--bold">
                            Biography
                        </p>
                        <small class="person__bio"
                        *ngIf="person.biography != ''">
                            {{ person.biography }}
                        </small>
                        <small class="person__bio"
                        *ngIf="person.biography == ''">
                            No bio available
                        </small>
                    </div>
                    <div class="row"
                    *ngIf="person.homepage">
                        <a
                            class="btn btn--pink btn--width"
                            target="blank"
                            [href]="person.homepage">
                            Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="person__movies">
                <h2>
                    Known for
                </h2>
                <app-cards [movies]="movies"></app-cards>
            </div>
        </div>
    </div>
    <div class="page__footer">
        <app-footer></app-footer>
    </div>
</div>