@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~normalize.css';

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    color: #eeeeee;
    background-color: #222429;
    font-family: 'Inter', sans-serif;
}

.pointer {
    cursor: pointer;
}

/* row styles
------------- */
.row {
    position: relative;
}

.row--flex {
    display: flex;
}

.row--flex-align-center {
    align-items: center;
}

.row--flex-space-between {
    justify-content: space-between;
}

.row--flex-end {
    justify-content: flex-end;
}

/* col styles
------------- */
.col {
    position: relative;
}

.col--flex {
    display: flex;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}