@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~normalize.css';

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 3px;
    border-radius: 5px;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c0c0c0;
}

body {
    color: #eeeeee;
    background-color: #222429;
    font-family: 'Inter', sans-serif;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* row styles
------------- */
.row {
    position: relative;
}

.row--flex {
    display: flex;
}

.row--flex-align-center {
    align-items: center;
}

.row--flex-space-between {
    justify-content: space-between;
}

.row--flex-end {
    justify-content: flex-end;
}

.row--mb-10 {
    margin-bottom: 10px;
}

/* col styles
------------- */
.col {
    position: relative;
}

.col--flex {
    display: flex;
}

.col--flex-align-center {
    align-items: center;
}

.col--overflow-hidden {
    overflow: hidden;
}

/* text styles
-------------- */
.text {
    font-weight: 400;
}

.text--bold {
    font-weight: 600;
}

/* custom dialog styles
----------------------- */
.custom-dialog .mat-dialog-container {
    padding: 3px;
}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1366px) {
    .row--mt-16 {
        margin-top: 16px;
    }
}